# config/packages/framework.yaml
framework:
    secret: '%env(APP_SECRET)%'
    router:
        utf8: true
        default_uri: '%env(DEFAULT_URI)%'

when@prod:
    framework:
        router:
            strict_requirements: null